name: Build & Deploy

on:
  push:
    branches: [main]

env:
  AWS_REGION: ap-south-2
  ECR_REPOSITORY: test/cicd
  CONTAINER_NAME: cicd-test

jobs:
  # ------------------------
  # Build
  # ------------------------
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - run: npm ci
      - run: npm run build

  # ------------------------
  # Docker Push
  # ------------------------
  docker:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - uses: aws-actions/amazon-ecr-login@v2
        id: ecr

      - uses: docker/setup-buildx-action@v3

      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ steps.ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }}
            ${{ steps.ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  # ------------------------
  # Deploy (Blue-Green)
  # ------------------------
  deploy:
    needs: docker
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |

            IMAGE="674288276036.dkr.ecr.ap-south-2.amazonaws.com/test/cicd:latest"

            LIVE="cicd-test"
            CANDIDATE="cicd-test-candidate"

            aws ecr get-login-password --region ap-south-2 \
              | docker login --username AWS --password-stdin 674288276036.dkr.ecr.ap-south-2.amazonaws.com

            docker pull $IMAGE

            docker rm -f $CANDIDATE 2>/dev/null || true
            docker run -d --name $CANDIDATE -p 3001:3000 $IMAGE

            sleep 10

            if curl -f http://localhost:3001/api/heartbeat; then
              docker rm -f $LIVE 2>/dev/null || true
              docker run -d --restart unless-stopped \
                --name $LIVE -p 3000:3000 $IMAGE
              docker rm -f $CANDIDATE
            else
              docker logs $CANDIDATE
              docker rm -f $CANDIDATE
              exit 1
            fi
